h2 {
  font-size: 32px;
  font-weight: bold;
}

h3 {
  font-size: 24px;
  font-weight: bold;
  color: #002e70;
}

h6 {
  font-size: 14px;
}

p {
  font-size: 9px;
}

.home-section {
  background-image: url("https://img5.goodfon.ru/original/2560x1600/3/51/grafik-schedule-green-zelionyi-fon-fon.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 60px 60px 200px;
}

.text-color {
  color: #002e70;
}

.color-info {
  color: #1aa78f;
}

.home-title {
  padding: 60px 0;
  font-size: 70px;
}

.card-pos {
  margin-top: -150px;
  padding-bottom: 60px;
}

.line {
  width: 100%;
  height: 2px;
  background-color: #eee;
  margin: 20px 0 40px;
  position: relative;
}

.line::after {
  content: "";
  position: absolute;
  width: 150px;
  height: 3px;
  background-color: #2c98ad;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.subtitle1 {
  width: 250px;
  margin-top: 50px;
  margin-left: 40px;
}

.subtitle {
  width: 400px;
}

.squary {
  width: 20px;
  height: 20px;
  background-image: linear-gradient(to right top, rgb(0, 255, 234), #4c24ff);
}

.card-shadows {
  box-shadow: 0 2px 7px 0 rgb(146, 146, 146);
}

.stick {
  height: 3px;
  width: 30px;
  background-image: linear-gradient(to right top, rgb(0, 255, 128), rgb(111, 0, 255));
}

.bordeer {
  background-image: linear-gradient(to right top, rgb(0, 255, 128), rgb(111, 0, 255));
  display: inline;
  padding: 16px 2px 21px 2px;
  border-radius: 5px;
}

.recent-btn-bg:hover {
  background-image: linear-gradient(to right top, rgb(130, 255, 238), rgb(0, 17, 255), black);
  color: #fff !important;
}

.header-cards {
  background: #002e70;
}

.card-text__info {
  color: #07a6ad;
}

.card-body__text {
  color: #0b3776;
}

.section-5 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0c92b6;
  height: 80vh;
}

.wg-text1 {
  text-align: center;
  color: #fff;
  padding-bottom: 30px;
  font-size: 30px;
  font-weight: bolder;
}

.wg-text2 {
  text-align: center;
  font-weight: 900;
  color: #04d8b2;
  padding-bottom: 40px;
  font-size: 55px;
}

button.wg-button {
  border: 2px solid #04d8b2;
  color: #04d8b2;
  font-weight: 900;
  font-size: 23px;
  padding: 10px 18px;
  margin: 0 30px;
}

.wg-footer {
  background-color: rgb(57, 57, 155);
}

.wg-section {
  height: 1000px;
}

.box {
  width: 30px;
  height: 30px;
  background-color: rgb(32, 159, 168);
  margin: 100px 0 0 100px;
}

.resent {
  color: rgb(27, 27, 124);
}

.wg-text {
  margin: 20px 500px 0 135px;
}

.wg-main img {
  width: 300px;
}

.wg-card {
  width: 900px;
  margin: 80px 0 80px 100px;
  box-shadow: 2px 2px 5px 5px #dbdbdb;
}

.wg-first {
  margin: 110px 182px 0 135px;
}

.wg-button {
  border: 2px solid rgb(32, 159, 168);
  margin-top: 80px;
}
