@import "bootstrap";
@import 'landing.scss';

body {
  background-color: #ecf1f4;
  font-family: sans-serif;
}

.hw-100 {
  min-height: 100vh;
}

.wg-messages-wrapper {
  height: 70vh;
  max-height: 70vh;
  overflow: auto;
}
