<div class="container">
    <div class="row">
        <div class="col-3">
            <!-- Amir -->
            <div class="d-flex justify-content-center align-items-center">
                <div class="d-flex justify-content-center align-items-center">
                    <img src="https://secure.gravatar.com/avatar/9ca7fff31c450235f2d5195cae169d44?s=80&d=identicon" class="w-25 rounded-circle" alt="">
                </div>
                <div class="text-center">

                </div>
            </div>
            <!-- end: Amir -->

            <!-- Otabek -->
                <div class="card-body">
                  <h6 class="card-title d-flex">
                    Active Conversations
                    <span class="ms-auto badge bg-secondary ms-2 rounded-pill">4</span>
                  </h6>
      
                  <div class="list-group">
                    <a href="/chat.html" class="px-0 list-group-item list-group-item-action d-flex align-items-center border-0">
                      <div class="me-2">
                        <img
                          class="rounded-circle" width="48"
                          src="https://assets-global.website-files.com/5d9bc5d562ffc22c37470958/5e5964932095f28a12eb71ee_BrianSmith-CA%20(1).jpg"
                          alt="">
                      </div>
                      <div class="d-flex flex-column">
                        <h6 class="mb-0">Henry Boyd</h6>
                        <span>Lat message...</span>
                      </div>
                    </a>
                  </div>
                </div>
            <!-- end: Otabek -->
        </div>
        <div class="col-6">
            <!-- Ikrom -->
            <div class="card mt-3">
                <div class="wg-messages-wrapper card-body">
                  <ul id="wg-messages" class="list-group">
                    <li class="d-flex mb-3">
                      <div>
                        <img class="rounded-circle" width="50" height="50" src="https://uifaces.co/our-content/donated/xZ4wg2Xj.jpg" alt="">
                      </div>
                      <div class="mx-2">
                        <p class="bg-light p-2 rounded m-0">Hi Henry!!!</p>
                        <div>9h ago</div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            <!-- end: Ikrom -->
        </div>
        <div class="col-3">
            <!-- Jurabek -->
            <!-- end: Jurabek -->

            <!-- Botir -->
            <!-- end: Botir -->
            
            <!--Ruslan-->
            <div class="card mt-3">
              <div class="card-body">
                <h6 class="card-title d-flex mb-0">
                  Clear Chat
                  <span class="ms-auto badge bg-warning rounded-pill">16</span>
                </h6>
              </div>
            </div>
            <!-- end:Ruslan-->

        </div>
    </div>
</div>